@model efsane_oyun.Models.Games

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Games</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TagLine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TagLine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoverImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoverImage)
            <img src="~/Assets/Games/@Model.Id/@Model.CoverImage" class="game-image">
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmbedSource)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmbedSource)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
